@use "../../../styles/variables" as *;

.cSection {
  padding: $section-padding;
  background: $color-bg-primary;

  @media (max-width: $bp-tablet) {
    padding: 50px $section-padding-mobile;
  }
}

.cSectionDescription {
  color: $color-gray-3;
  line-height: 200%;
}
