@use "../../../styles/variables" as *;

.cSection {
  padding: $section-padding;
  background: $color-bg-primary;
}

.cSectionDescription {
  margin: 0 0 30px 0;
  color: $color-gray-3;
  line-height: 200%;
}
