$color-white: #eee;
$color-black: #333;
$color-black-2: #181818;
$color-gray-1: #909096;
$color-gray-2: #90909655;
$color-gray-3: #dbdbdb;
$color-green: #a6e22e;
$color-red: #f92672;
$color-yellow: #e6db74;
$color-blue: #66d9ef;
$color-sky-blue: #f1f5f9;

@font-face {
  font-family: "noto-regular";
  src: url(/font/noto-regular.otf);
}
@font-face {
  font-family: "code";
  src: url(/font/RictyDiminished-Bold.ttf);
}


.cTopSection {
  $padding: 100px;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  box-sizing: border-box;
}

.cTopSectionHeading {
  z-index: 1;
  position: absolute;
  bottom: 100px;
  left: 100px;
  font-size: 3.5vw;
}

.cSection {
  padding: 100px;
  h2 {
    margin: 0 0 15px 0;
  }
  h3 {
    margin: 0 0 15px 0;
  }
}

.cSectionHeading {
  font-size: 50px;
  font-family: "code";
}

.cSectionDescription {
  margin: 0 0 30px 0;
  color: $color-gray-3;
}

.cSkills {
  display: flex;
}

.cSkillsItem {
  & + & {
    margin: 0 0 0 100px;
  }
}

.cSkillsHeading {
  margin: 0 0 10px 0;
}

.cSkillsListItem {
  color: $color-gray-3;
}

.cWorks {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cWorksItem {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .cWorksImg {
      transform: scale(1.02);
      filter: brightness(0.9);
    }
  }
}

.cWorksImg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  transition: 0.5s ease;
}

.cWorksCat {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 2px 10px;
  background: $color-sky-blue;
  color: $color-black;
}

.cWorksPopup {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background: #00000099;
  cursor: pointer;
  &.jsPopupShow {
    display: block;
  }
}

.cWorksPopupInner {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  img {
    width: 100%;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-black;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: $color-white;
    border-radius: 5px;
  }
}

.cWorksPopupClose {
  position: fixed;
  z-index: 1;
  right: 10%;
  top: 10%;
  transform: translate(70%, -50%);
  width: 45px;
  height: 45px;
  border-radius: 10rem;
  background: #fff;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 4px;
    background: #333;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.cBlog {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.cBlogItem {
  display: flex;
  &:hover {
    .cBlogImg {
      transform: scale(1.02);
      border: solid 4px $color-blue;
    }
  }
}

.cBlogImg {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: solid 4px transparent;
  border-radius: 5px;
  box-sizing: border-box;
  background: $color-sky-blue;
  transition: 0.3s ease;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.cBlogText {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 0 0 15px;
}

.cBlogHeading {
  line-height: 140%;
  font-size: 18px;
}

.cBlogDate {
  font-size: 14px;
  color: $color-gray-2;
}

.cCodeButton {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 50px auto 0 auto;
  cursor: pointer;
  * {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.cCodeButtonHead,
.cCodeButtonFoot {
  font-family: "code";
  font-size: 16px;
  color: $color-gray-2;
}

.cCodeButtonBody {
  padding: 0 0 0 20px;
  margin: -5px 0 0 0;
  font-size: 30px;
  color: $color-red;
}

.cCodeButtonHovEffect {
  transition: 0.3s ease;
}

.cCodeButton:hover {
  .cCodeButtonHovEffect {
    color: $color-red;
  }
}

.cContactForm {
  width: 100%;
}

.cContactFormItem {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.cContactFormHeading {
  font-size: 18px;
  color: $color-white;
}

.cContactForm {
  input[type="text"],
  textarea,
  select {
    padding: 8px 15px;
    font-size: 18px;
    color: $color-black;
    background: $color-sky-blue;
  }
  textarea {
    height: 150px;
  }
}

.cContactArea {
  display: grid;
  grid-template-columns: 50% calc(50% - 30px);
  grid-gap: 30px;
  color: $color-white;
}

.cContactAreaOutput {
  overflow-y: auto;
  padding: 20px;
  border-radius: 5px;
  background: #35362f;
  font-family: "code";
  font-size: 20px;
}

.cContactAreaRow {
  padding: 0 0 0 1rem;
  word-break: break-all;
}

.uTyping {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid transparent;
}

.uTypingSize6 {
  @extend .uTyping;
  width: 0;
  animation: typingSize6 0.6s steps(6, end) forwards, cursorNone 0.6s steps(6, end);
  animation-delay: 0;
}

.uTypingSize12 {
  @extend .uTyping;
  width: 0;
  animation: typingSize12 1s steps(12, end) forwards, cursorNone 1s steps(12, end);
  animation-delay: 0.6s;
}

.uTypingSize20 {
  @extend .uTyping;
  width: 0;
  animation: typingSize20 2s steps(20, end) forwards, cursor 1s steps(20, end) infinite forwards;
  animation-delay: 1.6s;
}

@keyframes typingSize6 {
  from {
    width: 0;
  }
  to {
    width: 12vw;
  }
}

@keyframes typingSize12 {
  from {
    width: 0;
  }
  to {
    width: 22vw;
  }
}

@keyframes typingSize20 {
  from {
    width: 0;
  }
  to {
    width: 40vw;
  }
}

@keyframes cursor {
  50% {
    border-color: $color-white;
  }
}

@keyframes cursorNone {
  from {
    border-color: transparent;
  }
  to {
    border-color: $color-white;
  }
}

.uColorGreen {
  color: $color-green;
}

.uColorYellow {
  color: $color-yellow;
}

.uColorRed {
  color: $color-red;
}

.uColorBlue {
  color: $color-blue;
}

.uMt70 {
  margin-top: 70px;
}

.uMb100 {
  margin-bottom: 100px;
}

.uPb40 {
  padding-bottom: 40px;
}

.uPb100 {
  padding-bottom: 100px;
}

.jsReveal {
  opacity: 1;
}

.jsScrollreveal {
  opacity: 1;
}

.jsPopupButton {
  cursor: pointer;
}

.jsPopupItem {
  display: none;
}

.jsPopupShow {
  display: block !important;
}
