@use "../../styles/variables" as *;

.heading {
  position: relative;
  font-size: 50px;
  font-family: $font-code;
  padding-left: 16px;
  margin: 0 0 30px 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, $color-green, transparent);
    border-radius: 3px;
  }
}

.green {
  color: $color-green;
}

.yellow {
  color: $color-yellow;
}
