$color-blue: #66d9ef;

.svgContainer {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 5vh;
  width: 100vh;
  height: 100vh;
}

.animatedSvg {
  width: 100%;
  height: 100%;
  overflow: visible;
  
  path {
    fill: transparent;
    stroke: $color-blue;
    stroke-miterlimit: 10;
  }
  
  &.complete path {
    stroke: $color-blue;
    fill: #000;
    filter: drop-shadow(0px 0px 5px $color-blue);
    animation: pulseStroke 60s linear infinite;
  }
}

@keyframes pulseStroke {
  0% {
    stroke-dashoffset: 0;
    filter: drop-shadow(0px 0px 5px $color-blue);
  }
  50% {
    stroke-dashoffset: 300%;
    filter: drop-shadow(0px 0px 15px $color-blue);
  }
  100% {
    stroke-dashoffset: 0;
    filter: drop-shadow(0px 0px 5px $color-blue);
  }
}