@use "./styles/variables" as *;

.container {
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;

  @media (max-width: $bp-tablet) {
    grid-template-columns: 1fr;
  }
}

.sidebar {
  z-index: 2;
  grid-column: 1 / 2;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: auto;
  background: $color-black-2;

  @media (max-width: $bp-tablet) {
    display: none;
  }
}

.content {
  z-index: 1;
  grid-column: 2 / 3;
  background: $color-bg-primary;

  @media (max-width: $bp-tablet) {
    grid-column: 1 / -1;
  }
}
