@use "../styles/variables" as *;

.page {
  padding: $section-padding;
  padding-bottom: 140px;
  background: $color-bg-secondary;
  min-height: 100vh;

  @media (max-width: $bp-tablet) {
    padding: 72px $section-padding-mobile 60px;
  }
}

.description {
  color: $color-gray-3;
  line-height: 2;
}
