@use "../../../styles/variables" as *;

.section {
  padding: 140px $section-padding 56px;
  background: $color-bg-primary;

  @media (max-width: $bp-tablet) {
    padding: 80px $section-padding-mobile 36px;
  }
}

.description {
  color: $color-gray-3;
  line-height: 2;
}

.moreButton {
  padding-bottom: 120px;
  background: $color-bg-primary;

  @media (max-width: $bp-tablet) {
    padding-bottom: 60px;
  }
}
