@use "../../styles/variables" as *;

.cSideMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.cSideMenuImg {
  width: 80%;
  padding: 20px 0 0 0;
  margin: 0 auto 0 auto;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.cSideMenuNav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cSideMenuNavItem {
  position: relative;
  padding: 15px;
  text-align: center;
  border-top: solid 1px $color-gray-2;
  color: $color-gray-1;
  transition: color 0.3s ease;

  &:last-child {
    border-bottom: solid 1px $color-gray-2;
  }
  &:hover {
    color: $color-blue;
  }

  &.active {
    color: #fff;
  }
}

.navLabel {
  position: relative;
  z-index: 1;
}

.activeIndicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background: $color-green;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 8px $color-green, 0 0 16px rgba($color-green, 0.3);
}

.cSideMenuSns {
  display: flex;
  justify-content: center;
  height: 200px;
}

.cSideMenuSnsItem {
  opacity: 0.5;
  filter: grayscale(100%);
  transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;

  & + & {
    margin: 0 0 0 10px;
  }

  &:hover {
    opacity: 1;
    filter: grayscale(0%);
    transform: translateY(-2px);
  }
}
