@use "../styles/variables" as *;

.page {
  background: $color-bg-primary;
  min-height: 100vh;
  padding-bottom: 120px;

  @media (max-width: $bp-tablet) {
    padding-bottom: 60px;
  }
}

.header {
  padding: $section-padding;
  padding-bottom: 56px;

  @media (max-width: $bp-tablet) {
    padding: 72px $section-padding-mobile 36px;
  }
}

.description {
  color: $color-gray-3;
  line-height: 2;
}
